* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    padding: 10px;
    display: flex;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    width: 250px;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    padding: 40px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#li-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#self {
    height: 200px;
    border-radius: 50%;
}

ol,
li {
    padding: 10px;
}

span {
    color: #007bff;
}

.inline {
    display: inline;
}

.icon {
    width: 20px;
}

h1 {
    font-size: 60px;
}

#font {
    font-size: large;
}


